# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/OOP5_SOL/OOP5_SOL/OOP5_SOL.vcxproj.user
/OOP5_SOL/OOP5_SOL/OOP5_SOL.vcxproj.filters
/OOP5_SOL/OOP5_SOL/OOP5_SOL.vcxproj
/OOP5_SOL/OOP5_SOL.VC.db
/OOP5_SOL/OOP5_SOL.VC.VC.opendb
/OOP5_SOL/OOP5_SOL/x64/Debug/OOP5_SOL.log
/OOP5_SOL/OOP5_SOL/x64/Debug/OOP5_SOL.tlog/OOP5_SOL.lastbuildstate
/OOP5_SOL/OOP5_SOL/x64/Debug/OOP5_SOL.tlog
/OOP5_SOL/OOP5_SOL/x64/Debug/OOP5_SOL.Build.CppClean.log
/OOP5_SOL/OOP5_SOL/x64/Debug/vc140.pdb
/OOP5_SOL/OOP5_SOL/x64/Debug/vc140.idb
/OOP5_SOL/x64/Debug
